.cabecalho_container{
    width: 100%;
    height: 7.5%;
    background-color: #2a2f32;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.cabecalho_container > .foto_perfil{
    border-radius: 50%;
    height: 75%;
}

.cabecalho_container > .icons{
    display: flex;
    justify-content: space-between;
    width: 120px;
    color: #b1b3b5;
}